.select_field {
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;
    position: relative;
    label {
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 6px;
        left: 0px;
        right: auto;
        white-space: nowrap;
        pointer-events: none;
        font-size: 16px;
        min-height: 8px;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        transform-origin: top left;
        position: absolute;
        height: 20px;
        line-height: 20px;
    }
    .selected_box {
        flex: 1 1 auto;
        display: flex;
        font-size: 0px;
        line-height: 20px;
        padding: 8px 0;
        max-width: 100%;
        min-width: 0;
        width: 100%;
        color: rgba(0, 0, 0, 0.87);
        flex-wrap: wrap;
        align-items: center;
        .selected_search{
            min-width: 64px;
            flex: 1 1;
            line-height: 20px;
            max-width: 100%;
            width: 100%;
        }
        .selected_box_comma{
            border-color: rgba(0,0,0,.12);
            color: rgba(0,0,0,.87);
            flex: 0 1 auto;
            align-items: center;
            cursor: default;
            display: inline-flex;
            line-height: 20px;
            max-width: 100%;
            outline: none;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            transition-duration: .28s;
            transition-property: box-shadow,opacity;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            vertical-align: middle;
            white-space: nowrap;
            .selected_box_comma_content{
                padding-right: 5px;
                font-size: 14px;
            }
            .selected_box_comma_content:after{
                content: ",";
            }
            &:last-of-type .selected_box_comma_content:after{
                content: "";
            }
            .iconfont{
                position: absolute;
                right: 2px;
                top: 7px;
                font-size: 13px;
            }
        }
    }
    .select_menu_control {
        padding: 8px 0;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        .iconfont {
            font-size: 16px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.67);
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        }
    }
    .select_menu_control.open {
        transform: rotate(180deg);
        .iconfont {
            color: #1867c0;
        }
    }
}
.select_menu {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    contain: content;
    will-change: transform;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 1;
    .select_menu_list {
        background: #fff;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        padding: 8px 0;
        position: static;
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: box-shadow;
        cursor: pointer;
        .select_menu_item {
            align-items: center;
            display: flex;
            flex: 1 1 100%;
            letter-spacing: normal;
            min-height: 48px;
            outline: none;
            padding: 0 16px;
            position: relative;
            text-decoration: none;
            .select_menu_item_content {
                align-items: center;
                align-self: center;
                display: flex;
                flex-wrap: wrap;
                flex: 1 1;
                overflow: hidden;
                padding: 12px 0;
            }
            &:before {
                background-color: currentColor;
                bottom: 0;
                content: "";
                left: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                top: 0;
                transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
            }
        }
        .select_menu_item.selected{
            color: #1867c0;
            caret-color: #1867c0;
            &:before{
                opacity: .12;
            }
        }
    }
    .select_menu_item:hover {
        &:before {
            opacity: 0.24;
        }
    }
}
.select_field.active {
    label {
        max-width: 133%;
        transform: translateY(-18px) scale(0.75);
    }
    
}
